<% content_for :title do %>Sign in<% end %>
<%- if Headstart.configuration.use_facebook_connect -%>
  <%- if request.ssl? -%>
    <%= javascript_include_tag 'https://ssl.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US' %>
  <%- else -%>
    <%= javascript_include_tag 'http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US' %>
  <%- end -%>

<%- end -%>

<h2>Sign in</h2>

<% form_for :session, :url => session_path do |form| %>
  <div class="text_field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="text_field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="submit_field">
	<%= link_to "Forgot password?", new_password_path %>
    
    <%= form.submit "Sign in", :disable_with => "Please wait..." %>

  </div>
<% end %>


<%- if Headstart.configuration.use_facebook_connect -%>
  <div style="margin-top:20px">
	<%= link_to image_tag("facebook_login.png"), @oauth_url %>
  </div>
<%- end -%>

